body {
    margin: 0;
    padding: 0;
    background-image: url("https://wallpaper.dog/large/16992087.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }